<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/expenses}" sec:authorize="hasAuthority('ADMIN')">Expenses</a></li>
                    <li><a href="#" th:href="@{/expense/new}" sec:authorize="hasAuthority('ADMIN')">New Expense</a></li>
                    <!--<li><a href="#" th:href="@{/login}">Sign In</a></li>-->
                </ul>
            </div>
            <div class="welcome">
                <span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span></span>
                <form th:action="@{/logout}" method="post">
                    <span sec:authorize="isAuthenticated()"><input type="submit" value="Sign Out" /></span>
                </form>
            </div>
        </nav>

    </div>
</div>

</body>
</html>