<!DOCTYPE html>
<html>
<head lang="en">

    <title>Expense Tracker</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Total this year:</h2>
    <table class="table table-striped">
        <tr>
            <th>Paid by</th>
            <th>Amount</th>

        </tr>
        <tr th:each="yearlyPerUser : ${yearlyPerUsers}">
            <td th:text="${yearlyPerUser.key}">Paid by</td>
            <td th:text="${yearlyPerUser.value}">Amount</td>

            <!--<td th:text="${yearlyPerUser.holiday}">Holiday</td>-->
            <!--<td th:text="${yearlyPerUser.house}">House</td>-->
            <!--<td th:text="${yearlyPerUser.diverse}">Diverse</td>-->
        </tr>

    </table>
</div>
</body>
</html>