<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login Form</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${param.error}">
        <label style="color:#ff0000">Invalid username and password.</label>
    </div>
    <div th:if="${param.logout}">
        <label>
            You have been logged out.
        </label>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form th:action="@{/login}" class="form-login" method="post">

                <!--<table class="table table-striped">-->
                <h4>Welcome</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" name="username"/>
                <br/>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" name="password"/>
                <br/>
                <div class="wrapper">
                     <span class="group-btn">
                          <button type="submit" class="btn btn-primary btn-md">Sign in <i
                                  class="fa fa-sign-in"></i></button>
                     </span>
                </div>

                <!--</table>-->

            </form>


        </div>
    </div>
</div>
</body>
</html>